    <div class="widget">
	<h3>Kandydat na Prezydenta RP</h3>
	<div class="widget-center">
            <p style="font-size: 1.8em; color: Black; text-align: center; font-weight: bold">Ludwik Dorn</p>
            <p><a href="http://www.ludwik-dorn.pl" target="_blank">
		 <img src="http://www.polska-plus.pl/site_media/content/dorn-portret__.jpg" alt="Ludwik Dorn" width="250" /> 
		</a></p>
<p><strong>Zobacz też:</strong><br />
<a href="http://www.ludwik-dorn.pl" target="_blank">Strona oficjalna i niekonwencjonalna</a><br />
 <a href="http://dorn.blog.onet.pl/" target="_blank">Blog</a></p>



	</div>
	<div class="widget-dol" style="clear: both">&nbsp;</div>
    </div>			
