    <div class="widget">
	<h3>Kandydat na Senatora</h3>
	<div class="widget-center">
            <p style="font-size: 1.8em; color: Navy; text-align: center; font-weight: bold">Tomasz Kałużyński</p>
            <p>
		 <img src="http://www.polska-plus.pl/site_media/content/kaluzynski_.jpg" alt="Tomasz Kałużyński" width="250" /> 
		</p>
<p>
Nasz kandydat w wyborach uzupełniających do Senatu w okręgu płocko-ciechanowskim. 
</p>

<p><a href="http://polska-plus.pl/static/tomasz-kaluzynski/">Wiecej</a></p>

<p><a href="http://www.polska-plus.pl/site_media/content/pocztowka.jpg" target="_blank">Pocztówka wyborcza</a></p>

	</div>
	<div class="widget-dol" style="clear: both">&nbsp;</div>
    </div>			
