			<div id="slider" class="sliderwrapper">
				<!-- szablon slidera - zmienny -->
				{%for p in promo %}
				<div class="contentdiv" style="background: url(/site_media/{{p}}) center left no-repeat; background-size:100%;">
					{% comment %}
                                        <div class="polecane-opis">
						<h3>{{p.title_short|removetags:"div"|safe}}</h3>
						<p>{{p.text_short|removetags:"div"|safe}}
						<a class="alignright" href="/news/{{p.slug }}/">Więcej >></a></p>
					</div>
                                        {% endcomment %}
				</div>
				{% endfor %}
				<!-- nawigacja slidera -->
				
                                <div id="paginate-slider" class="pagination">
					{%for p in promo %}
					<img src="/site_media/{{p}}" width="100" alt="" />
				  {% endfor %}
				</div>
                                
				<!-- szablon slidera - zmienny - koniec -->
			</div>

<script type="text/javascript">

featuredcontentslider.init({
id: "slider", //id of main slider DIV
contentsource: ["inline", ""], //Valid values: ["inline", ""] or ["ajax", "path_to_file"]
toc: "markup", //Valid values: "#increment", "markup", ["label1", "label2", etc]
nextprev: ["", "Next"], //labels for "prev" and "next" links. Set to "" to hide.
revealtype: "click", //Behavior of pagination links to reveal the slides: "click" or "mouseover"
enablefade: [true, 0.1], //[true/false, fadedegree]
autorotate: [true, 4000], //[true/false, pausetime]
onChange: function(previndex, curindex){ //event handler fired whenever script changes slide
//previndex holds index of last slide viewed b4 current (1=1st slide, 2nd=2nd etc)
//curindex holds index of currently shown slide (1=1st slide, 2nd=2nd etc)
}
})

</script>	

