<div class="widget">
	<h3>Dekalog prezydencki</h3>
	<div class="widget-center">

		
<p><strong>1. Nie będziesz składał  meldunków z wykonania zadania nikomu poza Narodem swoim</strong></p>
<p>
W  chwili zakończenia wyborów prezydenckich w 2005 roku Prezydent - elekt Lech Kaczyński powiedział do swego brata - bliźniaka, prezesa PiS Jarosława Kaczyńskiego: Panie prezesie, melduję wykonanie zadania.</p>
		<p class="more-link">
		<a href="http://www.polska-plus.pl/static/dekalog-prezydencki/">
			Czytaj dalej
		</a>
		</p>	
		<p></p><p></p>	
		
	</div>
	<div class="widget-dol">&nbsp;<p></p></div>
</div>
